@import '_sizes.scss';
@import '_media-query.scss';
@import '_colors.scss';
@import '_breakpoints.scss';

@function gridSize($col, $total: 12) {
  @return ($col / $total) * 100%;
}

@mixin generateGridItems($cols: 12, $name: grid) {
  @for $i from 1 through $cols {
    .#{$name}--grid__item-#{$i} {
      width: calc(#{gridSize($i)} - #{$gutter});
      margin: $gutter / 2;
      border: 1px solid $pink;
      height: 50px;
      //! @melhoria
      //display: inline-block;

      display: flex;
      justify-content: center;
      align-items: center;

      @include responsive(sm){
        width: calc(100% - #{$gutter});
        //! @melhoria
        //display: block;
      }
    }
  }
}

@mixin generateGridContainer($name: container, $size: $container){
  .#{$name}--grid__container {
    max-width: $size;
    width: $size;
    margin: 0 auto;
    border: 1px solid $gray;
    min-width: 30rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.4rem;

    

    @include responsive(sm){
      border: 10px solid yellow;
      width: calc(#{$small} - 100px);
      max-width: calc(#{$small} - 100px);
    }

    @include responsive(md){
      border: 10px solid green;
      width: calc(#{$medium} - 100px);
      max-width: calc(#{$medium} - 100px);
    }
  }
}

